@model FinalProject.Models.Products

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1>Are you sure you want to delete @Html.DisplayFor(model => model.ProductName)?</h1>
    <div>
        <hr />
        <img alt="Image" class="mx-auto" src=@Html.DisplayFor(model => model.Image) height="400" width="400" />
        <p>
            <strong>@Html.DisplayNameFor(model => model.Price):</strong>
            @Html.DisplayFor(model => model.Price)$
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Description):</strong>
            @Html.DisplayFor(model => model.Description)
        </p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Go To Home Page</a>
        </form>
    </div>
</div>
