@model FinalProject.Models.Users

@{
    ViewData["Title"] = "Details";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card col-0">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Fullname)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Fullname)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Username)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Password)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Birthdate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Birthdate)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Permission)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Permission.PermissionName)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    </div>
                </blockquote>
            </div>
        </div>
        </div>
    </div>
