@model FinalProject.Models.Orders

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1>Are you sure you want to delete @Html.DisplayFor(model => model.Id)?</h1>
    <div>
        <p>
            <strong>@Html.DisplayNameFor(model => model.User):</strong>
            @Html.DisplayFor(model => model.User.Id)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.User.Username):</strong>
            @Html.DisplayFor(model => model.User.Username)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Address):</strong>
            @Html.DisplayFor(model => model.Address)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.OrderPrice):</strong>
            @Html.DisplayFor(model => model.OrderPrice)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.OrderDate):</strong>
            @Html.DisplayFor(model => model.OrderDate)
        </p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </form>
    </div>
</div>