@model IEnumerable<FinalProject.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<div class="title"><h1>My Orders</h1></div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row justify-content-sm-center">
            <div class="col-sm-6 product-item-wrapper">
                <div class="col-sm-12 product-item">
                    <h3>Order ID: @Html.DisplayFor(modelItem => item.Id)</h3>
                    <h6>Address: @Html.DisplayFor(modelItem => item.Address)</h6>
                    <span>Order amount: @Html.DisplayFor(modelItem => item.OrderPrice)$</span>
                    <span>Order Date: @Html.DisplayFor(modelItem => item.OrderDate)</span>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button 
                                   class="accordion-button"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapse_@item.Id"
                                   aria-expanded="true"
                                   aria-controls="collapseOne">
                                    View order
                                </button>
                            </h2>
                            <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @if (item.OrderDetails != null)
                                    {
                                    <div class="row">
                                        @foreach (var orderItem in item.OrderDetails)
                                        {
                                            <div class="col-sm-4">
                                                <div class="col-sm-12" style="display:flex;flex-direction:column">
                                                    <img class="mx-auto" alt="Image" src=@orderItem.Product.Image height="100" width="100" />
                                                    <span>@orderItem.Product.ProductName</span>
                                                    <span>@orderItem.Product.Description</span>
                                                    <hr />
                                                    <span>@orderItem.Amount Units</span>
                                                    <span>@orderItem.Product.Price$</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>